.header {
  padding-top: 2rem /* 32px */;
  background-color: #e5e7eb;
}

[data-mode="light"] .header {
  background-color: #e5e7eb;
}

[data-mode="dark"] .header {
  background-color: rgb(68, 68, 66);
}
